.nav {
	color: #fff;
	background-color: black
}

.nav li {
    display: inline;
    font-size: 30px;
  	font-weight: bold;
  	padding: 0px;
  	text-transform: uppercase;
}

p {
	color: #fff;
}

.active {
	background-color: green;
}


